{% extends 'basic_template.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chg.css') }}">
{% endblock %}
{% block title %}Changez votre nom d'utilisateur{% endblock %}
{% block content %}
<form action="/modifier-pseudo", method="POST">
    <label for="pseudo">Entrez votre nouveau pseudo</label>
    <input type="text" name = "name" id="name" required>
    <input type="submit" value="Envoyer !" class='submit'>
</form>
{% endblock %}