{% extends 'basic_template.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chg.css') }}">
{% endblock %}
{% block title %}Changez votre adresse {% endblock %}
{% block content %}
<form action="/modifier-adresse", method="POST">
    <label for="pseudo" class="">Entrez votre nouvelle adresse</label>
    <input type="text" name = "name" id="name" required>
    <input type="submit" value="Enregistrer" class='submit'>
</form>
{% endblock %}