{% extends 'basic_template.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chg.css') }}">
{% endblock %}
{% block title %}Changez votre adresse mail{% endblock %}
{% block content %}
<form action="/modifier-email", method="POST">
    <label for="pseudo" style="display: block ruby;">Entrez votre nouvelle adresse mail</label>
    <input type="text" name = "name" id="name" required>
    <input type="submit" value="Envoyer !" class='submit'>
</form>
{% endblock %}