{% extends "basic_template.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/creer_jardin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
{% block title %} Créer un jardin {% endblock %}
{% block content %}
    <h2> Créer un jardin partagé :</h2>

{% if msg == 3 %}
    <p>Vous devez vous connecter pour accéder à cette fonctionnalité.</p>
    <p><a href="{{ url_for('connexion') }}" >Se connecter</a></p>
    <p><a href="{{ url_for('inscription') }}" >S'inscrire</a></p>
{% elif msg == 4 %}
<p>Votre jardin partagé a bien été créé. Cliquer sur le lien pour ajouter des produits à votre jardinpartagé :</p>
<a href="{{ url_for('vos_produits') }}" ><p>Ajouter des produits</p></a>
{% elif msg == 6 %}
    <div id="erreur">Vous possédez déja un jardin partagé.</div>
{% else %}
    {% if msg==1 %}
        <div id="erreur">Veuillez remplir tout les champs du formulaire.</div>
    {% endif %}
    {% if msg==2 %}
    <div id="erreur">Le nom et la description ne doivent pas contenir plus de 256 caractères.</div>
    {% endif %}
    {% if msg==5 %}
    <div id="erreur">Le fichier doit être au format jpeg, png ou jpg.</div>
    {% endif %}
    {% if msg==7 %}
    <div id="erreur">Adresse introuvable.</div>
    {% endif %}
    <form action="/creer-jardin" enctype=multipart/form-data method="post">

    <div class="inner-form">
        <input type="text" name="name" placeholder="Nom">
    </div>

    <div class="inner-form">
        <input type="text" name="description" placeholder="Description">
    </div>

    <div class="inner-form">
        <input type="text" name="adresse" placeholder="Adresse">
    </div>

    <div class="inner-form">
        <label for="file" >Image du jardin partagé :</label></br>
        <input type="file" name="file" accept="file/jpeg" class="inputfile" >
    </div></br>

    <div class="inner-form">
        <input type="submit" value="Envoyer" class="submit">
    </div>
    </form>
{% endif %}
{% endblock %}