{% extends 'basic_template.html'%}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/uniqueamap.css') }}">
{% endblock %}
    {% block title %}{{ item[4] }}{% endblock %}
    {% block content %}
    <div class="amap">
        <div class="img">
            <img src="{{url_for ('static', filename=item[3]) }}">
        </div>
        <div class="amap-content">
            <h2 class="title">{{ item [4] }}</h2>
            <p class="descr">{{ item[2] }}</p>
            <p class="lien">
                Voici le lien de l'Amap pour plus de renseignements : <a href="{{ item[1] }} " style="color: blue;"> {{ item[1] }} </a>
            </p>
        </div>
    </div>
    {% endblock %}